In [405]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

# Import dataset
df = pd.read_csv('dataset/gizi.csv')

# Inisiasi variabel
X = df[['age','gender', 'weight', 'height']].values
y = df['status'].values # target / label

# Membagi dataset menjadi data training dan data testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, shuffle=False)

df

,name,gender,born_weight,born_height,weight,height,status,age
0,IQBAL AZKA AL FARIZI,1,3.6,50.0,13.5,97.7,Gizi Baik,56
1,AZKIA DWI HNAUM,0,3.0,48.0,12.3,90.2,Gizi Baik,36
2,LAELINA FATMAWATI,1,3.2,48.0,14.9,98.8,Gizi Baik,58
3,KHALISA NUR MILADI,0,3.0,48.0,11.0,81.0,Gizi Baik,30
4,AL BARRA FALAH HAMIZAN,1,3.0,48.0,9.0,80.4,Gizi Baik,25
...,...,...,...,...,...,...,...,...
1364,SYAHRIL ALFAKHRI,1,3.2,46.0,12.5,85.5,Gizi Baik,23
1365,ASKA ADI WIJAYA,1,3.2,47.0,12.7,91.0,Gizi Baik,28
1366,SABRIEL RAYYEN,1,3.2,49.0,15.7,105.4,Gizi Baik,57
1367,AYRA MEIDITHA,0,3.2,48.0,13.2,88.0,Gizi Baik,27
1368,RAFASYA VIDI SAFWAN,1,3.2,48.0,9.0,69.0,Risiko Gizi Lebih,8

In [406]:
from sklearn.linear_model import SGDClassifier

# Algoritma C 4.5
clf = SGDClassifier(loss="hinge", alpha=0.0006, max_iter=1000, shuffle=False)
clf = clf.fit(X_train, y_train)

In [407]:
y_pred = clf.predict(X_test)

In [408]:
from sklearn.metrics import accuracy_score

print(accuracy_score(y_test, y_pred))

0.8734793187347932

In [409]:
print(X_train.shape,X_test.shape, X_train.shape[0] + X_test.shape[0])

(958, 4) (411, 4) 1369

In [410]:
y

array(['Gizi Baik', 'Gizi Baik', 'Gizi Baik', ..., 'Gizi Baik',
       'Gizi Baik', 'Risiko Gizi Lebih'], dtype=object)

In [411]:
from sklearn.model_selection import KFold
kf = KFold(n_splits=11)
kf.get_n_splits(X)

print(kf)
for i, (train_index, test_index) in enumerate(kf.split(X)):
    print(f"Fold {i}:")
    # print(f"  Train: index={train_index}")
    # print(f"  Train: {X[train_index, :]}")
    # print(f"  Test:  index={test_index}")
    # print(f"  Test:  {X[test_index, :]}")
    # print(f"  Train: index={train_index}")
    # print(f"  Train: {y[train_index]}")
    # print(f"  Test:  index={test_index}")
    # print(f"  Test:  {y[test_index]}")
    clf = SGDClassifier(loss="hinge", alpha=0.0006, max_iter=1000, shuffle=False)
    clf = clf.fit(X[train_index, :], y[train_index])
    y_pred = clf.predict(X[test_index, :])
    print(accuracy_score(y[test_index], y_pred))

KFold(n_splits=11, random_state=None, shuffle=False)
Fold 0:
0.864
Fold 1:
0.896
Fold 2:
0.88
Fold 3:
0.816
Fold 4:
0.92
Fold 5:
0.8387096774193549
Fold 6:
0.7983870967741935
Fold 7:
0.8790322580645161
Fold 8:
0.8870967741935484
Fold 9:
0.8629032258064516
Fold 10:
0.8548387096774194

In [412]:
import uuid

str(uuid.uuid4())

'4e9350d2-4351-438d-b235-23c4f4b0405a'